# ==================================
# .NET / Visual Studio build files
# ==================================
**/bin/
**/obj/
**/.vs/

# ==================================
# Environment / Secrets
# ==================================
appsettings.*.json
*.env

# ==================================
# Logs and cache
# ==================================
*.log
**/logs/

# ==================================
# VS / User files
# ==================================
*.suo
*.user
*.userosscache
*.sln.docstates
